version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: financialdb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    depends_on:
      - db
    ports:
      - "8001:8001"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/financialdb

  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    depends_on:
      - api
    ports:
      - "8501:8501"

volumes:
  db-data:
